@model AddRealEstateAdViewModel

@{
    ViewData["Title"] = "AddEstateAd";
}

<h1>İlan Ekle</h1>
<hr />
<div class="row">
    
        <partial name="_UserPanelSideBar" />

        <div class="col-md-5">
            <form asp-action="AddEstateAd" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.AdName" class="control-label"></label>
                    <input asp-for="@Model.AdName" class="form-control" />
                    <span asp-validation-for="@Model.AdName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SquareMeter" class="control-label"></label>
                    <input asp-for="@Model.SquareMeter" class="form-control" />
                    <span asp-validation-for="@Model.SquareMeter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NumberOfRoomsId" class="control-label"></label>
                    <select asp-for="@Model.NumberOfRoomsId" class="form-control" asp-items="@Model.NumberOfRoomsItems"></select>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.YearBuilt" class="control-label"></label>
                    <input asp-for="@Model.YearBuilt" class="form-control" />
                    <span asp-validation-for="@Model.YearBuilt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Price" class="control-label"></label>
                    <input asp-for="@Model.Price" class="form-control" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Image" class="control-label"></label>
                    <input asp-for="@Model.Image" class="form-control" type="file"  accept="image/*" />
                    <span asp-validation-for="@Model.Image" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


